.slideshow {
  margin: 1rem auto;
  padding: 1rem;
  width: 75%;

  @include respond(phone) {
    width: 100%;
  }

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    top: -4px;
    background-color: white;
    border-radius: 2px;
  }

  &__header {
    font-size: 3rem;
  }

  &__icon {
    cursor: pointer;
    width: 3rem;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  &__image {
    background-size: cover;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  &__desc {
    font-size: 1.4rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__group2 > a {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
